@model IEnumerable<MyProject.BL.Entities.Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add a post</a>
</p>
<table class="table">
    <thead>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            
            <!--26-->
            <th>
               Picture
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            
            <!--26-->
            <td>
                    <img class="img-thumbnail" src="@item.PicturePath" 
                    asp-append-version="true" alt="@item.PicturePath" /> 
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.Author)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
